Package: me.cgm616.volumebar9
Name: VolumeBar9
Depends: mobilesubstrate, org.thebigboss.libcolorpicker, cc.tweak.libobjcipc
Version: 0.3.2-beta
Architecture: iphoneos-arm
Description: Changes the ugly volume HUD to a nice bar.
Maintainer: cgm616 <cgm616+cydia@gmail.com>
Author: cgm616 <cgm616+cydia@gmail.com>
Depiction: https://github.com/cgm616/VolumeBar9/blob/master/README.md
Section: Tweaks
